<section class="vh-75">
  <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-md-9 col-lg-6 col-xl-5">
              <img src=".\assets\Image\Logo.png" class="img-fluid" alt="Sample image" style="width: 650px;height: 200px;">
          </div>
          <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
              <form [formGroup]="Paymentform" (ngSubmit)="onSubmit()">
                  <br>

                  <div class="form-group">
                      <div *ngIf="Fullname?.touched && Fullname?.invalid">
                          <span>Fullname is required.</span></div>
                      <input formControlName="FullName" type="text" id="FullName" class="form-control form-control-lg" placeholder="FullName" />
                      <label class="form-label" for="form3Example3"></label>

                  </div>

                  <div class="form-group">
                      <div *ngIf="TransactionAmount?.touched && TransactionAmount?.invalid">
                          <span>TransactionAmount is required.</span></div>
                      <input formControlName="TransactionAmount" type="text" id="TransactionAmount" class="form-control form-control-lg" placeholder="TransactionAmount" />
                      <label class="form-label" for="form3Example3"></label>

                  </div>


                  <div class="form-group">
                      <div *ngIf="Mode?.touched && Mode?.invalid">
                          <span>Mode is required.</span>
                      </div>
                      <input formControlName="Mode" type="text" id="Mode" class="form-control form-control-lg" placeholder="Mode" />
                      <label class="form-label" for="form3Example3"></label>

                  </div>

                  <div class="form-group">
                      <div *ngIf="Cardnumber?.touched && Cardnumber?.invalid">
                          <span>Cardnumber is required.</span>
                      </div>
                      <input formControlName="Cardnumber" type="text" id="Cardnumber" class="form-control form-control-lg" placeholder="Enter your Cardnumber" />
                      <label class="form-label" for="form3Example3"></label>

                  </div>

                  <!-- State  input -->
                  <div class="form-group">
                      <div *ngIf="CardCVV?.touched && CardCVV?.invalid">
                          <span>CardCVV is required.</span>
                      </div>
                      <input formControlName="CardCVV" type="text" id="CardCVV" class="form-control form-control-lg" placeholder="Enter your CardCVV" />
                      <label class="form-label" for="form3Example3"></label>

                  </div>

                  <div class="text-center text-lg-start mt-4 pt-2">
                      <button type="submit" class="btn btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;" [disabled]="!Paymentform.valid">Pay</button>
                  </div>

              </form>
          </div>
      </div>
  </div>
</section>
